{
"components":[
	{
        "name": "com1",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:5001",
	      "timeout": 60}
	},
	{
        "name": "com2",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:5002",
	      "timeout": 60}
	},
	{
        "name": "com3",
        "intype": "tcp",
	"inconf": {
	      "url": "127.0.0.1:5003",
	      "timeout": 60}
	}],
	
"groups":[
	{
	"name": "group1",
	"dispense":"polling",
	"members":["com1", "com2"]
	},{
	"name": "group2",
	"dispense":"polling",
	"members":["com3"]
	}
],

"graphs": {
	"user.info.get": ["group1", "group2", "group3"],
	"demo": ["com1", "com2", "com1"]
}
}

